.section {
  padding: 50px;
  min-height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gok {
  background-color: #120446;
  color: #fff;
}

.ak {
    background-color: #fff;
    color: #120446;
}

.serviceImg {
  width: 100%;
  height: 500px;
  object-position: center;
  object-fit: cover;  
}