.sliderLogo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .4s;
}

.sliderLogo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.outerWrapper * {
    z-index: 3;
}

.outerWrapper {
    margin-top: 10px;
}