
.gokBlok {
    background-color: #120446;
    padding: 50px;
    color: #fff;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.akBlok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    min-height: 350px;
}